.LeftMenu {
    display: flex;
    flex-direction: column;
    background-color: var(--darker-blue);
    max-width: 16vw;
    min-width: 15vw;
    height: 100vh;
    color: 	var(--font-color);
    border-right: 0.3em solid var(--dark-blue);
    transition: all .3s ease-out;
}

.mobile {
    position: fixed;
    z-index: 999;
    max-width: 40vw;
}

.collapsed {
    max-width: 15vw;
    min-width: 5vw;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.toggleButton {
    color: var(--font-color);
}

.menuIcon {
    margin: 0.2rem;
}